---
import { Image } from "@astrojs/image/components";
import Faq from "../components/Faq.astro";
import ArrowDown from "../components/icons/ArrowDown.astro";
import Download from "../components/icons/Download.astro";
import FastArrowRight from "../components/icons/FastArrowRight.astro";
import Github from "../components/icons/Github.astro";
import Technologie from "../components/Technologie.astro";
import Layout from "../layouts/Layout.astro";

const homeLatop = "/images/home-laptop.png";
const homeRnote = "/images/home-rnote.png";
const homeGaming = "/images/home-gaming.png";
const homeApps = "/images/home-apps.png";
const homePkgs = "/images/home-pkgs.png";
const homeDeskApx = "/images/home-desk-apx.png";
---

<Layout title="Vanilla OS">
  <main>
    <section class="grid justify-items-center gap-3 py-16 px-5">
      <Image
        src={homeLatop}
        format="webp"
        width={650}
        height={350}
        alt="Laptop with Vanilla OS"
      />
      <a
        href="#"
        class="bg-black font-medium text-white py-3 px-6 rounded-full text-xl flex items-center gap-2"
      >
        Get Vanilla OS 22.10
        <span>
          <Download />
        </span>
      </a>
      <div>
        <a href="#" class="border-b border-dotted border-[#282828]">Roadmap</a>
        |
        <a href="#" class="border-b border-dotted border-[#282828]"
          >Requirements</a
        >
      </div>
      <a href="#" class="grid gap-3 justify-items-center text-2xl mt-[5vh]">
        What is Vanilla OS?
        <span>
          <ArrowDown />
        </span>
      </a>
    </section>

    <section class="grid gap-4 text-center px-5 py-16 container mx-auto">
      <h2 class="text-5xl font-bold lg:text-7xl">Nicely Updated.</h2>
      <p class="text-xl lg:text-2xl">
        Designed to last over time and always be faithful to you.
      </p>
      <p class="text-xl lg:text-2xl">
        Vanilla OS is an Ubuntu Linux-based Point Release distribution that
        receives updates at the right time, neither before nor after, without
        sacrificing security and functionality.
      </p>
    </section>
    <section
      class="grid gap-4 text-center px-5 py-16 lg:grid-cols-2 lg:items-start container mx-auto"
    >
      <div class="grid gap-4 lg:text-start">
        <h2 class="text-5xl font-bold lg:text-7xl">Work.</h2>
        <p class="text-xl lg:text-2xl">Your faithful colleague by day.</p>
        <p class="text-xl lg:text-2xl">
          Vanilla OS is designed to be a reliable and productive operating
          system for your daily work. The GNOME Desktop is the perfect
          environment for your daily tasks, with a clean and intuitive
          interface, everything is at your fingertips.
        </p>
        <p class="text-xl lg:text-2xl">
          Thanks to a wide range of applications, Vanilla OS is ready to meet
          your needs, whether you are a developer, a designer, a student or a
          simple user.
        </p>
      </div>
      <Image
        src={homeRnote}
        width={612}
        height={425}
        alt="Rnote Flatpak App"
        format="webp"
        class="m-auto"
      />
    </section>
    <section
      class="grid gap-4 text-center px-5 py-16 lg:grid-cols-2 lg:items-start container mx-auto"
    >
      <div class="grid gap-4 lg:text-start lg:order-1">
        <h2 class="text-5xl font-bold lg:text-7xl">Play.</h2>
        <p class="text-xl lg:text-2xl">Your teammate by night.</p>
        <p class="text-xl lg:text-2xl">
          Play your favourite video games without worrying about setting up your
          devices. Vanilla OS offers the latest stable Linux kernel, ensuring
          support for the latest devices and the latest performance
          improvements.
        </p>
        <p class="text-xl lg:text-2xl">
          Thanks to an integrated driver manager, your GPU will no longer be a
          problem, be it AMD®, Intel® or NVIDIA®, if something is missing, just
          open the driver manager and follow the suggestions, it's that simple.
        </p>
      </div>
      <Image
        src={homeGaming}
        width={740}
        height={577}
        alt="Games pic"
        format="webp"
        class="m-auto"
      />
    </section>
    <section
      class="grid place-items-center gap-4 text-center px-5 py-16 relative"
    >
      <Image
        src={homeApps}
        format="webp"
        alt="Linux Apps"
        class="opacity-50"
        width={1748}
        height={1559}
      />
      <div class="absolute">
        <div class="grid gap-4">
          <h2 class="text-5xl font-bold lg:text-7xl">Complete.</h2>
          <p class="text-xl lg:text-2xl">
            Acces a large catologue of applications.
          </p>
        </div>
      </div>
    </section>
    <section
      class="grid gap-4 text-center px-5 py-16 lg:grid-cols-2 lg:items-start container mx-auto"
    >
      <div class="grid gap-4 lg:text-start">
        <h2 class="text-5xl font-bold lg:text-7xl">Choice.</h2>
        <p class="text-xl lg:text-2xl">Your system, your choices.</p>
        <p class="text-xl lg:text-2xl">
          Vanilla OS is an operating system that respects your choices, you are
          in control, always.
        </p>
        <p class="text-xl lg:text-2xl">
          At the first start you can choose which package format to use in
          Vanilla OS (Flatpak, Snap, Appimage ..), you choose and Vanilla OS
          will take care of the rest, putting you in the situation to start
          without problems.
        </p>
      </div>
      <Image
        src={homePkgs}
        width={440}
        height={537}
        format="webp"
        alt="Packages format pic"
        class="m-auto"
      />
    </section>
    <section
      class="grid gap-4 text-center px-5 py-16 lg:grid-cols-2 lg:items-start container mx-auto"
    >
      <div class="grid gap-4 lg:text-start lg:order-1">
        <h2 class="text-5xl font-bold lg:text-7xl">Immutable...</h2>
        <p class="text-xl lg:text-2xl">..but also not.</p>
        <p class="text-xl lg:text-2xl">
          Vanilla OS is an immutable operating system, core parts of the system
          are locked down to prevent unwanted changes and corruption from
          third-party applications or a faulty update. Some paths are still
          writable, such as the home and configurations directories, this allows
          the user to keep their files and ensure the normal functioning of
          applications.
        </p>
        <p class="text-xl lg:text-2xl">
          Core components are only updated via controlled and atomic
          transactions, which are applied only on success and made available on
          reboot.
        </p>
        <p class="text-xl lg:text-2xl">
          Need to install a component in the core system? No problem, you can
          open a transactional shell at any time, make your changes and let the
          system apply them automatically!
        </p>
        <a
          class="font-medium bg-black text-white w-fit mx-auto lg:mx-0 py-3 px-6 rounded-full flex items-center gap-2"
          href="#"
          >Learn More
          <span>
            <FastArrowRight />
          </span>
        </a>
      </div>
      <Image
        src={homeDeskApx}
        format="webp"
        width={612}
        height={425}
        alt="Apx preview"
        class="m-auto"
      />
    </section>
    <section
      class="grid gap-4 lg:gap-10 text-center px-5 py-16 container mx-auto"
    >
      <h2 class="text-5xl font-bold lg:text-7xl">Free & Open Source.</h2>
      <p class="text-xl lg:text-2xl">
        You don't have to and you will never have to pay.
      </p>
      <p class="text-xl lg:text-2xl">
        Vanilla OS is built on free and Open Source technologies and software
        and does not require any payment to be used, it is simply already yours.
      </p>
      <p class="text-xl lg:text-2xl">
        All system components are released under Open Source licenses and the
        code is available for your review, contribution or forking.
      </p>
      <a
        class="bg-black rounded-full font-medium text-white py-3 px-6 w-fit mx-auto flex items-center gap-2"
        href="#"
      >
        Fork on
        <span>
          <Github />
        </span>
        GitHub
      </a>
    </section>

    <section class="bg-[#f2f1ed] py-16">
      <div class="grid gap-3 px-5 container mx-auto">
        <h2 class="text-5xl font-bold lg:text-7xl lg:text-center">
          Frequently Asked Questions
        </h2>
        <p class="text-xl lg:text-2xl lg:text-center">
          Here are some of the most common questions we get asked.
        </p>
        <Faq />
      </div>
    </section>

    <div class="py-16">
      <section class="grid justify-items-center gap-8 px-5">
        <h2 class="text-5xl font-bold lg:text-7xl">Technologies</h2>
        <p class="text-xl text-center lg:text-2xl">
          Vanilla OS is made possible by the following technologies.
        </p>
        <div>
          <ul class="grid grid-cols-2 lg:grid-flow-col gap-5 container mx-auto">
            <li class="p-3 hover:bg-[#f1f0ec] rounded">
              <a
                aria-label="Ubuntu"
                href="#"
                class="w-32 h-14 flex items-center"
              >
                <img
                  src="/logos/ubuntu.svg"
                  alt="Ubuntu"
                  width={1022}
                  height={360}
                  loading="lazy"
                />
              </a>
            </li>
            <li class="p-3 hover:bg-[#f1f0ec] rounded">
              <a
                aria-label="Gnome"
                href="#"
                class="w-32 h-14 flex items-center"
              >
                <img
                  src="/logos/gnome.svg"
                  alt="Gnome"
                  width={1144}
                  height={408}
                  loading="lazy"
                />
              </a>
            </li>
            <li class="p-3 hover:bg-[#f1f0ec] rounded">
              <a
                aria-label="Distrobox"
                href="#"
                class="w-32 h-14 flex items-center"
              >
                <Image
                  src="/logos/distrobox.png"
                  width={1800}
                  height={235}
                  format="webp"
                  alt="Distrobox"
                />
              </a>
            </li>
            <li class="p-3 hover:bg-[#f1f0ec] rounded">
              <a
                aria-label="ABRoot"
                href="#"
                class="w-32 h-14 flex items-center"
              >
                <img
                  src="/logos/abroot.svg"
                  alt="ABRoot"
                  width={1130}
                  height={534}
                  loading="lazy"
                />
              </a>
            </li>
            <li class="p-3 hover:bg-[#f1f0ec] rounded">
              <a aria-label="Apx" href="#" class="w-32 h-14 flex items-center">
                <Image
                  src="/logos/apx.png"
                  width={663}
                  height={197}
                  format="webp"
                  alt="Apx"
                />
              </a>
            </li>
          </ul>
        </div>
        <small class="text-center"
          >All trademark are the property of their respective owners.</small
        >
      </section>
    </div>

    <section class="py-16">
      <div class="grid gap-16 container mx-auto lg:grid-cols-3">
        <Technologie />
      </div>
    </section>
  </main>
</Layout>
